@import 'tailwindcss';
@plugin "daisyui";

body {
  /* Texto de color warning */
  font-family: Lexend, 'Noto Sans', sans-serif;
  background-color: white;
}

div {
  scroll-behavior: smooth;
}

/* Asegurarse de que los SVGs utilicen currentColor */
svg {
  color: var(--icon-color);
}
